<%- include("head") %>

    <form action="/added" method="POST" autocomplete="off">
        <input type="text" name="movieTitle" class="titleInput" placeholder="Enter movie title here" required>
        <div class="button">
            <button name="btn" type="submit" class="btn btn-lg btn-success submit" >Add</button>
        </div>
        
    </form>

<%- include("footer") %> 