<%- include("head") %>

    <h1 class="movieTitle"><span class="movieTitle"><%= movieTitle %></span> successfully added to your list!</h1>
    <i class="far fa-check-circle fa-7x"></i>

<%- include("footer") %> 