<%- include("head") %> 

    <h1 class="movieTitle">The movie by the title <span class="movieTitle"><%= movieTitle %></span> already exists on your list. Please, try to enter a different movie title.</h1>

<%- include("footer") %> 