<%-include('head')%> 
    <h1>What to Watch?</h1>
    <div class="container">
        <div class="button">
            <a href="/found" role="button" class="btn btn-lg btn-primary">Find</a>
        </div>
        <div class="button">
            <a href="/add" role="button" class="btn btn-lg btn-success">Add</a>
        </div>
        
        
    </div>
    
<%-include('footer')%> 
